extends layouts/main

append head
    title Home - Ward

block content
    .jumbotron
        h1.display-3 Welcome!
        p.lead This is a test page
        hr.my-2
        p More info about nothing
        p.lead
            a.btn.btn-primary.btn-lg(href='#' role='button') This goes nowhere

